<div id="thank-you" class="panel panel-info">
  <%= link_to raw('<span aria-hidden="true">&times;</span>'), new_message_path, remote: true, class: 'close', style: 'margin: 10px' %>
  <div class="panel-body">
    <% if @message.errors.any? %>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

